# Credenciales - NUNCA subir
.env

# Datos satelitales - muy pesados
*.zip
*.SAFE
*.EOF

# Carpeta de datos de procesamiento
data/

# DEM (pesado) pero NO las imágenes de ejemplo
dem/
orbits/
# Excepcion: permitir example_outputs
!example_outputs/*.png
!example_outputs/*.csv

# Outputs de procesamiento
isce2_output/
series_ps/
output/
miaplpy_output/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
